/*点菜界面的头部返回，收藏和分享*/
body{
    background-color: #e5233f;
    overflow: hidden;
}
.new{
    width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.order_food_header{
    width: 100%;
    background-color: #e5233f;
    position: fixed;
    z-index: 5;
}
    /*头部滚动的切换效果*/
.headerTransform{
    animation: headerChangeColor 2s forwards;
}
@keyframes headerChangeColor {
    0%{
        background-color: #e5233f;
    }
    100%{
        background-color: #ffffff;
    }
}
@-moz-keyframes headerChangeColor {
    from{
        background-color: #e5233f;
    }
    to{
        background-color: rgb(255,0,0);
    }
}

.showTransformHidden{
    animation: showToHidden 2s forwards;
}
@keyframes showToHidden {
    from{
        height: 1.35rem;
    }
    to{
        height: 0;
    }
}

/*.showTransformShow{
    animation: hiddenToShow 2s forwards;
}
@keyframes hiddenToShow {
    from{
        height: 0;
    }
    to{
        height: 1.35rem;
    }
}
@-moz-keyframes hiddenToShow {
    from{
        height: 0;
    }
    to{
        height: 1.35rem;
    }
}*/

.order_header_nav{
    width: 6.9rem;
    height: 0.89rem;
    margin: 0 auto;
    position: relative;
}
.order_back{
    position: absolute;
    top: 0.22rem;
    width: 0.2rem;
}
.businessItemName{
    position: absolute;
    top: 0.32rem;
    font-size: 0.28rem;
    font-weight: bolder;
    color: #ffffff;
    left: 3rem;
    display: none;
}
.order_collection{
    position: absolute;
    top:0.15rem;
    height: 0.64rem;
    left: 5.6rem;
}
.order_share{
    width: 0.35rem;
    position: absolute;
    top: 0.15rem;
    right: 0;
}

/*点菜头部的商家头像和优惠活动展示*/
.order_container{
    width: 100%;
    background-color: rgb(241,241,241);
    position: relative;
    /*top: 0.89rem;*/
    top: 0.89rem;
    overflow-y: hidden;
}
.order_header_message_container{
    width: 100%;
    background-color: #e5233f;
    overflow: hidden;
    display: block;
}
.order_header_message{
    margin: 0 auto;
    height: 1.35rem;
    width: 6.9rem;
}
    /*左边图像*/
    .order_header_message_left{
        float: left;
        height: 1.23rem;
        width: 1.32rem;
    }
    .order_header_message_left>img{
        width: 1.14rem;
    }
    /*右边文字*/
    .order_header_message_right{
        float: left;
        width: 5.58rem;
    }
    .order_message_name{
        width: 100%;
        height: 0.29rem;
        font-size:0.28rem;
        font-weight: bolder;
        color: rgb(253,253,253);
    }
    .order_message_type{
        width: 100%;
        height: 0.6rem;
        font-size:0.26rem;
        text-align: left;
        color: rgb(253,253,253);
        line-height: 0.6rem;
    }
    .order_message_safe{
        width: 100%;
        height: 0.38rem;
        position: relative;
    }
    .safe_logo{
        width: 0.24rem;
        vertical-align: middle;
    }
    .safe_message{
        font-size: 0.22rem;
        vertical-align: middle;
        color: rgb(253,253,253);
        width: 3.5rem;
        overflow: hidden;
    }
    .safe_more{
        /*position: absolute;*/
        /*right: 0;*/
        margin-left: 0.3rem;
        color: rgb(253,253,253);
        font-size: 0.22rem;
        vertical-align: middle;
    }
    .safe_more:hover{
        cursor: pointer;
    }
    .safe_more>img{
        vertical-align: middle;
        width: 0.15rem;
    }
    .order_message_safe_hidden{
        display: none;
    }
    .order_message_safe_hidden>p{
        font-size:0.22rem;
        margin-left: 0.36rem;
        color: rgb(253,253,253);
    }

/*滚动文字的区域*/
.scroll_text{
    width: 100%;
    height: 0.68rem;
    background-color: rgb(255,247,220);
    margin-bottom: 0.2rem;
}
.scroll_text_container{
    width: 6.9rem;
    margin: 0 auto;
    position: relative;
}
.scroll_text_container>img{
    position: absolute;
    left: 0;
    top: 0.18rem;
    width: 0.3rem;
}
marquee{
    position: absolute;
    left: 0.4rem;
    top: 0.18rem;
    color: rgb(60,60,60);
    font-weight: bold;
}

/*商家模块的切换*/

.food_list_container{
    width: 100%;
    background-color: #fff;
    overflow-y: hidden;
}
.business_module_container{
    display: -webkit-flex; /* Safari */
    display: flex;
    /*flex-direction:column;*/
    height: 0.83rem;
}
.business_module_container>a{
    color: rgb(190,190,190);
}

.module_list_default {
    padding: 0.11rem 0.02rem;
    border-bottom: 0.04rem solid #ffffff;
    position: relative;
    top: 0.2rem;
}
.showBottomRed{
    border-bottom: 4px solid rgb(229,35,63);
    color: black;
}
    /*模块的内容列表*/
    .swiper-container{
        width: 100%;
        overflow: hidden;
        /*height: 9.0rem;*/
        margin-top: 0.01rem;
        /*background-color: rgb(241,241,241);*/
    }
    .food_type_list_container{
        overflow-y: auto;
        width: 1.78rem;
        float: left;
        background-color: rgb(241,241,241);
    }
    .food_type_list_container>ul{
        overflow-y: auto;
    }
    .food_type_list_item{
        display: block;
        width: 100%;
        height: 0.9rem;
        line-height: 0.9rem;
    }
    .food_type_list_item>a{
        margin-left: 0.3rem;
    }
    .showFoodListWhite{
        background-color: #fff;
    }



    /*各type下的商品种类*/

    .food_list_item_container{
        display: block;
        width:5.22rem;
        float: left;
        margin-left: 0.2rem;
        background-color: #ffffff;
        /*height: 9.0rem;*/
    }
    .food_list_item_container ul{
        height: auto;
        position: absolute;
        overflow-y: auto;
    }
    .food_list_item_ul{
        height: 10.0rem;
        overflow-y: auto;
        position: relative;
    }
    .food_list_item{
        /*overflow-y: auto;*/
        width: 100%;
        position: relative;
    }
    .food_list_item_typeName{
        width: 100%;
        height: 0.67rem;
        border-bottom: 1px dashed darkgray;
        line-height:0.67rem;
    }
    .food_list_item_typeName>span{
        margin-left: 0.14rem;
    }
    .food_list_item_foodName{
        width: 100%;
        height: 1.2rem;
        padding: 0.2rem 0;
    }
    .foodName_left{
        float: left;
        width: 1.2rem;
    }
    .foodName_right{
        float: left;
        margin-left: 0.2rem;
        width:3.82rem ;
    }
    .foodName_right_message{
        font-size: 0.28rem;
        font-weight: bold;
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        height: 0.46rem;
        line-height: 0.46rem;
    }
    .foodName_right_add{
        width: 100%;
        height: 0.74rem;
        position: relative;
    }
    .now_peace{
        position: absolute;
        color: rgb(225,39,63);
        font-size: 0.34rem;
        font-weight: bolder;
        left: 0;
    }
    .order_peace{
        position: absolute;
        color: darkgray;
        margin-left: 0.14rem;
        font-size: 0.24rem;
        text-decoration: line-through;
        left: 0.6rem;
        top: 0.12rem;
    }
    .reduce{
        position: absolute;
        width: 0.5rem;
        visibility: hidden;
        left: 2.3rem;

    }
    .now_count{
        position: absolute;
        color: rgb(60,60,60);
        left: 3.0rem;
        top: 0.12rem;
        visibility: hidden;
    }
    .add_count{
        position: absolute;
        width: 0.5rem;
        right: 0;
    }
    .right_add_container{
        position: absolute;
        top: 0.24rem;
        width: 100%;
    }
    .right_add_container_relative{
        position: relative;
    }






/*评价*/
.evaluate_background{
    width: 100%;
    height: 1.5rem;
    background-image: url('../Pictures/Pic/evaluate/evaluate_background.png');
    background-size: 7.5rem 1.5rem;
    background-repeat: no-repeat;
    border-bottom: 0.2rem solid rgb(241,241,241);
}
.evaluate_background>div{
    width: 2.06rem;
    position: relative;
    top:0.16rem;
    margin: 0 auto;
}
.evaluate_sort{
    width: 100%;
    height: 0.76rem;
    background-image: url('../Pictures/Pic/evaluate/sort_background.png');
    background-size: 1.56rem 0.74rem;
    background-position: center;
    text-align: center;
}
.evaluate_sort>b{
    font-size: 0.4rem;
    color: #ffffff;
    line-height: 0.76rem;
}
.evaluate_sort>span{
    font-size: 0.24rem;
    color: #ffffff;
    line-height: 0.76rem;
}
.evaluate_number{
    width: 100%;
    height: 0.32rem;
    background-color: rgb(255,87,87);
    text-align: center;
    line-height: 0.32rem;
    color: #ffffff;
    font-size: 0.2rem;
    border-radius: 0.12rem;
}
    /*选择评价类型*/
    .choice_evaluate{
        width: 100%;
        height:0.79rem;
        border-bottom: 1px solid rgb(241,241,241);
    }
    .choice_evaluate_container{
        width: 6.9rem;
        margin: 0 auto;
    }
    .choice_evaluate_container>img{
        width: 0.3rem;
        vertical-align: middle;
        line-height: 0.79rem;
    }
    .choice_evaluate_container>span{
        vertical-align: middle;
        line-height: 0.79rem;
        color: rgb(190,190,190);
    }

    /*评价内容*/
    .evaluate_content{
        width: 100%;
        border-bottom: 1px solid rgb(241,241,241);
        overflow-y: auto;
    }
    .evaluate_content_container{
        width: 6.9rem;
        margin: 0 auto;
    }
    .evaluate_context_left{
        float: left;
        width: 1.0rem;
    }
    .evaluate_context_left>img{
        width: 0.8rem;
        position: relative;
        top: 0.2rem;
    }
    .evaluate_context_right{
        float: left;
        width: 5.9rem;
        padding: 0.2rem 0;
    }
    .customer_id{
        position: relative;
    }

    .customer_id>b{
        width: 100%;
        font-size: 0.26rem;
        color: rgb(75,118,157);
        position: absolute;
        left: 0;
    }
    .customer_id>span,.customer_id>time{
        position: absolute;
        right: 0;
        color: rgb(119,119,119);
    }
    .customer_id>span>img{
        width: 0.26rem;
    }
    .context_message{
        width: 100%;
        margin-top: 0.66rem;
    }
    .context_message>span{

        font-size: 0.26rem;
        color: rgb(86,86,86);

    }
    .context_message>time{
        display: block;
        font-size: 0.2rem;
        color: rgb(119,119,119);
        padding: 0.3rem 0;
    }
    /*商家回复*/
    .evaluate_context{
        margin-left: 1.0rem;
    }
    .business_evaluate_left{
        width: 0.86rem;
    }
    .business_evaluate_left>img{
        width: 0.66rem;
    }
    .business_evaluate_right{
        width: 5.04rem;
    }

/*店铺详情*/
.business_content{
    width: 100%;
    background-color: rgb(241,241,241);

}
    .business_center_logo_container{
        width: 7.5rem;
        height: 1.75rem;
        border-top: 1px solid rgb(119,119,119);
    }
    .business_center_logo{
        width: 6.9rem;
        height: 1.75rem;
    }
    .logo_message{
        display: block;
        width: 3.8rem;
        height: 0.8rem;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 0.36rem;
        text-align: center;
        line-height: 0.8rem;
        position: relative;
        top: 0.22rem;
        border: 1px solid rgba(119,119,119,0.5);
    }
    .logo_message>img{
        width: 0.6rem;
        vertical-align: middle;
    }
    .logo_message>span{
        color: rgb(60,60,60);
        font-size: 0.30rem;
        font-weight:bolder;
        vertical-align: middle;
    }
    .describe_logo{
        font-size: 0.26rem;
        text-align: center;
        position: relative;
        top: 0.4rem;
        font-weight: bold;
        color: rgb(60,60,60);
    }

    /*地址，联系方式等等的共同样式*/
    .same_type_container{
        display: block;
        width: 7.5rem;
        height: 0.85rem;
        border-bottom: 1px solid rgb(241,241,241);
        background-color: #fff;
        color: rgb(60,60,60);
    }
    .same_type{
        width: 6.9rem;
        height: 100%;
        margin: 0 auto;
    }
    .same_type>p {
        width: 100%;
        display: inline-block;
        padding: 0.245rem 0;
    }
    .same_type>p>span{
        vertical-align: middle;
        font-size: 0.28rem;
        font-weight: 500;
    }
    .phone_number{
        height: 0.36rem;
        vertical-align: middle;
    }
    .point{
        height: 0.36rem;
        vertical-align: middle;
        float: right;

    }
    .dif_type_container{
        border-bottom: 0.14rem solid rgb(241,241,241);
    }
    .business_sale_message_container{
        width: 100%;
        background-color: #fff;
    }
    .business_sale_message{
        width: 6.9rem;
        margin: 0 auto;
    }
    .business_server{
        padding: 0.2rem 0;
        font-size: 0.28rem;
        font-weight: 500;
    }
    .business_server_message{
        padding: 0.04rem 0 0.20rem 0;
    }
    .business_server_message>img{
        width: 0.24rem;
    }
    .business_server_message>span{
        font-size: 0.24rem;
        color: black;
    }


/*购物车*/
.shopping_car_bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 0.97rem;
    z-index: 10;
    background-color: #fff;
}
.shopping_car_container{
    float: left;
    margin-left: 0.3rem;
    width: 1.32rem;
    height: 0.97rem;
    position: relative;
}
    .shopping_car_pic{
        position: absolute;
        width: 1.10rem;
        left: 0;
        top: -0.23rem;

    }
    .shopping_car_count{
        display: none;
        position: absolute;
        width: 0.46rem;
        height: 0.46rem;
        border-radius: 50%;
        background-color: rgb(255,174,32);
        text-align: center;
        line-height: 0.46rem;
        color: #ffffff;
        left: 0.8rem;
        top:-0.23rem;
    }

.altogether{
    float: left;
    width: 1.76rem;
    height: 0.97rem;
    line-height: 0.97rem;
    font-size:0.28rem;
    font-weight: bolder;
}
.lack{
    display: block;
    float: left;
    width: 2.7rem;
    height: 0.97rem;
    text-align: center;
    line-height: 0.97rem;
    color: #ffffff;
    position: absolute;
    right: 0;
    background-color: rgb(170,170,170);
}

/*弹出购物车*/
.show_shopping_car_container{
    position:absolute;
    left:0;
    top:0;
    background-color:#000;
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height: 10.0rem;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display:none; /*  */
    z-Index:6;
}
#shopping_car_content{
    position: fixed;
    left:0;
    bottom: 0.97rem;
    background-color: rgb(241,241,241);
    z-index: 8;
    width: 100%;
    display: none;
    border-bottom: 0.26rem solid #f1f1f1;
}

.clear_shoppingCar_content{
    width: 100%;
    height: 0.80rem;
    line-height: 0.8rem;
}
.clear_shopping{
    float: right;
    width: 0.34rem;
    margin-right: 0.15rem;
    margin-top: 0.23rem;
}
.clear_shoppingCar_content>span{
    font-size: 0.28rem;
    float: right;
    margin-right: 0.15rem;
}
.shopping_item{
    width: 100%;
    height: 1.0rem;
    background-color: #fff;
    display: none;
    border-bottom: 1px solid #d4d4d4;
}
.shopping_item_container{
    width: 6.9rem;
    margin: 0 auto;

}
.shoppingItem_name{
    width: 50%;
    height: 1.0rem;
    text-align: left;
    line-height: 1.0rem;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    float: left;
}
.shoppingItem_peace{
    float: left;
    width: 20%;
    text-align: center;
    line-height: 1.0rem;
}
.shoppingItem_peaceNumber{
    width: 30%;
    float: left;
    height: 1.0rem;
    position: relative;
}
.reduceCar{
    position: absolute;
    width: 0.5rem;
    top: 0.25rem;
    left: 0.5rem;
    visibility: visible;
}
.numberCar{
    position: absolute;
    font-size: 0.28rem;
    top: 0.36rem;
    left: 1.20rem;
}
.shopping_car_bg{
    height: 0.97rem;
    float: left;
    width: 4.8rem;
}
.addCar{
    position: absolute;
    width: 0.5rem;
    top: 0.25rem;
    right: 0;
}

/*skuFood界面*/
.skuFoodHtml{
    background-color: rgb(241,241,241);
    font-size: 0.28rem;
    color: rgb(60,60,60);
    position: absolute;
    z-index: 99;
    width:100% ;
    display: none;
}
/*time头部*/
.TimeHeaderContainer{
    width: 100%;
    height: 0.89rem;
    background-color: rgb(27,27,32);
}

.TimeHeader{
    margin: 0 auto;
    height: 0.89rem;
    width: 6.9rem;
    line-height: 0.89rem;
    color: #ffffff;
    font-weight: bolder;
}
.timeHeaderBackPic{
    vertical-align: middle;
    width: 0.22rem;
}
.timeHeaderBackMessage{
    vertical-align: middle;
    display: inline-block;
}
.timeHeaderBackMessage:hover{
    cursor: pointer;
}
.TimeHeaderClose{
    vertical-align: middle;
    display: inline-block;
}

.TimeHeaderName{
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.48rem;
}
.optionContainer{
    width: 100%;
    height: 0.83rem;
    background-color: #fff;
}
.optionContent{
    width: 6.9rem;
    height: 0.83rem;
    margin: 0 auto;
    line-height: 0.83rem;
}
.xuanxiang{
    margin-left: 2.45rem;
}
.sure{
    margin-left: 2.45rem;
    color: rgb(229,35,63);
}
.sure:hover{
    cursor: pointer;
}

.skuFoodContainer{
    width: 100%;
    height: 2.05rem;
    margin-top: 0.02rem;
    background-color: #fff;
}
.skuFoodContent{
    width: 6.9rem;
    height: 1.20rem;
    margin: 0 auto;
    padding: 0.425rem 0;
}
.skuFoodLeftPic{
    width: 1.80rem;
    height: 1.20rem;
    float: left;
}
.skuFoodMessage{
    width: 4.9rem;
    height: 1.20rem;
    float: left;
    margin-left: 0.2rem;
}
.skuFoodPeaceCount{
    width: 4.9rem;
    height: 0.5rem;
    margin-top: 0.38rem;
    position: relative;
}
.skuFoodReduce{
    width: 0.5rem;
    position: absolute;
    left: 3.4rem;
    visibility: visible;
}
.skuFoodAddCount{
    width: 0.5rem;
    position: absolute;
    right: 0;
}
.skuFoodPeace{
    position: absolute;
    left: 0rem;
    top:0.1rem;
    visibility: visible;
}
.skuFoodCount{
    position: absolute;
    left: 4.06rem;
    top:0.1rem;
}
.flavorContainer{
    width: 100%;
    margin-top: 0.02rem;
}
.flavorItem{
    width: 100%;
    height: 0.87rem;
    margin-top: 0.02rem;
    line-height: 0.87rem;
    background-color: #fff;
}
.flavorItemSummary{
    text-align: center;
    color:rgb(30,120,147);
}
.flavorItemPic,.addDish{
    vertical-align: middle;
    margin-left: 0.3rem;
    width: 0.32rem;
}
.flavorItemPic:hover,.addDish:hover{
    cursor: pointer;
}
.flavorItem span{
    vertical-align: middle;
    margin-left: 0.2rem;
}

/*选择配送服务方式*/

.serverSettingContainer{
    width: 100%;
    background-color:#000;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    z-index: 50;
    position: absolute;
    display: none;
    color: black;
}
.serverSetting{
    background-color: rgb(255,255,255);
    width: 6.90rem;
    line-height: 100%;
    position: absolute;
    left: 0.30rem;
    z-index: 51;
    display: none;
}
.serverSettingTitel{
    width: 100%;
    height: 0.90rem;
    background-color: rgb(232,232,232);
    line-height: 0.90rem;
}
.serverSettingTitel span{
    margin-left: 0.36rem;
    font-size: 0.28rem;
}
.serverSettingTitel img{
    float: right;
    margin-right: 0.30rem;
    vertical-align: middle;
    width: 0.24rem;
    position: relative;
    top:0.33rem;
}
.serverSettingText{
    width: 100%;
    text-align: center;
    line-height: 0.82rem;
    color: #ffffff;
    background-color: #ff7100;
}
.serverSettingType{
    width: 100%;
    height: 0.89rem;
    border-bottom: 1px solid darkgrey;
}
.serverSettingType>div{
    float: left;
    line-height: 0.89rem;
    width: 3.45rem;
}
.serverSettingType>div>img{
    width: 0.38rem;
    vertical-align: middle;
    margin-left: 0.36rem;
}
.serverSettingType>div>span{
    vertical-align: middle;
}
.serverSettingItemContainer{
    width: 100%;
    height: auto;
}
.serverSettingItem{
    display: none;
    width: 100%;
}
.serverSettingItem>div{
    height: 0.89rem;
    line-height: 0.89rem;
}
.serverSettingItem>div>span{
    margin-left: 0.30rem;
    vertical-align: middle;
}
.serverSettingItem>div>img{
   float: right;
    vertical-align: middle;
    width: 0.22rem;
    position: relative;
    top: 0.38rem;
    right:0.30rem;
}
.show{
    display: block;
}
.sureOrClose {
    width: 100%;
    height: 0.90rem;
    position: relative;
}
.cancelServer{
    width: 1.38rem;
    height: 0.50rem;
    border: 2px solid rgb(229,30,59);
    border-radius: 0.20rem;
    display: block;
    text-align: center;
    line-height: 0.50rem;
    position: absolute;
    left: 1.02rem;
}
.sureServer{
    width: 1.38rem;
    height: 0.50rem;
    border: 2px solid rgb(229,30,59);
    background-color: rgb(229,30,59);
    border-radius: 0.20rem;
    display: block;
    text-align: center;
    line-height: 0.50rem;
    position: absolute;
    right: 1.02rem;
    color: rgb(255,255,255);
}
.regionListContainer{
    background-color: rgb(255,255,255);
    width: 6.90rem;
    position: absolute;
    left: 0.30rem;
    z-index: 52;
    display: none;
}
.regionListContainer>div{
    width: 100%;
    height: 0.90rem;
    background-color: rgb(232,232,232);
    line-height: 0.90rem;
}
.regionListContainer>div>b{
    margin-left: 0.36rem;
    font-weight: bold;
}
.regionListContainer li{
    width: 100%;
    height: 0.69rem;
    border-bottom: 1px solid darkgrey;
    line-height: 0.69rem;
    display: inline-block;
}
.regionListContainer li>span{
    margin-left: 0.36rem;
}

/*分享朋友圈*/
.ShareListContainer{
    width: 100%;
    position: absolute;
    left: 0;
    height: 5.30rem;
    z-index: 51;
    display: none;
}
.ShareListContainer>span{
    width: 1.00rem;
    height: 1.50rem;
    display: inline-block;
    margin: 0.20rem 0.70rem;
    color: #ffffff;
    font-size: 0.20rem;
    text-align: center;
}
.ShareListContainer>span>img{
    width: 1.00rem;
}
.ShareListContainer>span>p{
    margin-top: 0.20rem;
}
.ShareListContainer>div{
    width: 2.76rem;
    height: 0.66rem;
    margin: 0 auto;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: center;
    line-height: 0.66rem;
    margin-top: 0.86rem;
}

#addSkuFoodType{
    line-height: 0.40rem;
    color: darkgrey;
    font-size: 0.22rem;
}
#newShoppingItemSpan{
    display: block;
    height: 0.70rem;
    line-height: 0.70rem;
}







